 .container {
  width:1000px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}


img {
    max-width: 100%;
     height: auto;
}

ul li {
  list-style:none;
}

button{
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.slide-arrow{
  position: absolute;
  top: 50%;
  margin-top: -15px;
}

.slide-arrow:hover {
 opacity: 0.7 ;
 cursor : pointer;
}



.prev-arrow{
  top:330px;
  left: 0px;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 15px solid #113463;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.next-arrow{
  top:330px;
  right: -40px;
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 15px solid #113463;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.slide-dots {
  right:450px;
  position: absolute;
}


.slide-dots li {
  display:inline-block;
  margin: 0 15px;
}

.slide-dots button {
  position: relative;
  text-indent: -9999px;
}

.slide-dots button:before {
  content: '⚪';
  font-size: 20px;
  text-indent: 0px;
  position: absolute;
  top: 0;
  left: 0;
}

.slick-active button:before {
  content: '⚫';
}
